* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #FF5722;
    color: white;
    padding: 20px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .menu-toggle {
    display: none;
}

header nav .nav-list {
    list-style-type: none;
    display: flex;
}

header nav .nav-list li {
    margin: 0 15px;
}

.hero {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.about, .services, .contact {
    padding: 50px 20px;
}

.about h2, .services h2, .contact h2 {
    text-align: center;
}

.services ul, .contact ul {
    list-style-type: none;
    padding: 0;
}

.services li, .contact li {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Мобильные стили */
@media (max-width: 768px) {
    header nav .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #FF5722;
        top: 60px; /* Высота хедера */
        left: 0;
        z-index: 1;
    }
    header nav .nav-list li {
        margin: 10px 0;
        text-align: center;
    }

    header nav .menu-toggle {
        display: block;
        cursor: pointer;
    }
}
